@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Uchen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
body {
  margin: 0px;
  font-family: 'Uchen', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
  background-color: white;
  -webkit-box-shadow: 1px 1px 1px rgba(200, 200, 200, 0.8);
          box-shadow: 1px 1px 1px rgba(200, 200, 200, 0.8);
  z-index: 10;
  padding-right: 5vh;
}

.header h1 {
  font-size: 2rem;
}

.header .controls {
  max-width: 465px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 15px;
}

.header .controls .bx--btn {
  padding-right: 20px;
}

.header .controls button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .controls .bx--checkbox-wrapper {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.header .controls .db-error {
  display: block;
  overflow: visible;
  color: red;
}

.inline-add {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

hr {
  border: 2px solid rgba(200, 200, 200, 0.8);
  width: 100%;
  margin-bottom: 2em;
  margin-top: 0px;
}

#root {
  width: 98vw;
}

.help-page {
  min-width: 300px;
}

#items {
  min-height: 50vh;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  max-width: 1200px;
  width: 90vw;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
}

.card {
  display: -ms-grid;
  display: grid;
  padding: 1.5em;
  -ms-grid-rows: 70px auto;
      grid-template-rows: 70px auto;
  grid-gap: 20px;
  font-weight: 300;
  height: 170px;
  -webkit-transition: 0.15s -webkit-transform ease-in-out;
  transition: 0.15s -webkit-transform ease-in-out;
  transition: 0.15s transform ease-in-out;
  transition: 0.15s transform ease-in-out, 0.15s -webkit-transform ease-in-out;
  cursor: pointer;
  min-width: 200px;
}

.card:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.card input[type="checkbox"] {
  position: relative;
  display: block;
  left: 90%;
  top: -40px;
  width: 30px;
  height: 20px;
}

.card .title {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 26px;
      grid-template-rows: 26px;
}

.card .title div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .title div .name {
  font-weight: bold;
  font-size: large;
}

.card .title .sku {
  font-size: small;
  font-family: 'Raleway';
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card .detail {
  display: -ms-grid;
  display: grid;
}

.card .detail .title {
  font-size: 12px;
}

#product_form {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 15px;
  padding: 2em;
  width: 95vw;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#product_form .common-fields {
  width: 100%;
  height: 100px;
  grid-gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#product_form .details-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 100px;
}

#product_form .details-form > div {
  width: 50%;
}
/*# sourceMappingURL=style.css.map */