@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Uchen&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap')

body
    margin: 0px
    font-family: 'Uchen', serif
    display: flex
    flex-direction: column
    line-height: 1

.header
    display: flex
    position: sticky
    top: 0
    justify-content: space-between
    padding: 1em
    background-color: white
    box-shadow: 1px 1px 1px rgba(200, 200, 200, 0.8)
    z-index: 10
    padding-right: 5vh

    h1
        font-size: 2rem

    .controls
        max-width: 465px
        display: flex
        grid-gap: 15px
        .bx--btn
            padding-right: 20px
        button
            justify-content: center
        .bx--checkbox-wrapper
            align-self: baseline

        .db-error
            display: block
            overflow: visible
            color: red

.inline-add
    cursor: pointer
    margin-left: 10px
    margin-right: 10px

hr
    border: 2px solid rgba(200,200,200,0.8)
    width: 100%
    margin-bottom: 2em
    margin-top: 0px

#root
    width: 98vw

.help-page
    min-width: 300px

#items
    min-height: 50vh
    display: grid
    grid-gap: 10px
    max-width: 1200px
    width: 90vw
    grid-template-columns: 1fr 1fr 1fr 1fr
    margin: 0 auto

.card
    display: grid
    padding: 1.5em
    grid-template-rows: 70px auto
    grid-gap: 20px
    font-weight: 300
    height: 170px
    transition: 0.15s transform ease-in-out
    cursor: pointer
    min-width: 200px

    &:hover
        transform: scale(1.025)

    input[type="checkbox"]
        position: relative
        display: block
        left: 90%
        top: -40px
        width: 30px
        height: 20px

    .title
        display: grid
        grid-template-rows: 26px

        div    
            display: flex
            justify-content: space-between
            .name
                font-weight: bold
                font-size: large
        .sku
            font-size: small
            font-family: 'Raleway'
            font-weight: bold
            align-self: center
    
    .detail
        display: grid
        .title
            font-size: 12px


#product_form
    min-height: 70vh
    display: flex
    grid-gap: 15px
    padding: 2em
    width: 95vw
    margin: 0 auto
    flex-direction: column
    justify-content: flex-start

    .common-fields
        width: 100%
        height: 100px
        grid-gap: 20px
        display: flex

    .details-form
        width: 100%
        display: flex
        grid-gap: 100px

        &> div
            width: 50%
        